@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

body {
  background-color: #7879F1;
}

.headline {
  text-align: center;
  padding: 48px 0 24px 0;
}

h1 {
  color: white;
  font-family: Rajdhani;
  font-size: 80px;
  margin: 0;
}

h5 {
  color: white;
  font-family: Rajdhani;
  font-size: 28px;
  font-weight: 300;
  margin: 4px 0 0 0;
}

p {
  color: white;
  font-family: Rajdhani;
  font-size: 16px;
  font-weight: 300;
  margin: 6px 21px;
  width: 80px;
}

#hidden {
  color: #7879F1;
  font-family: Rajdhani;
  font-size: 16px;
  font-weight: 600;
  width: 80px;
  margin: 0px 10px -10px 32px;
  transform: rotate(12deg);
}

img {
  width: 122px;
  height: 63px;
}

.maincontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  max-width: 800px;
}
.sushicard {
  cursor: pointer;
  text-align: center;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.collapsible {
  background-color: #7879F1;
  border: none;
  padding: 24px 0 0 0;
  transition: all 0.1s ease-in-out;
}

/*define what the style of the button when it's hovered*/

.collapsible:hover {
  padding-top: 10px;
  padding-bottom: 14px;
}

.collapsible:hover p {
  background-color: white;
  border-radius: 100%;
  color: transparent;
}

.collapsible:hover #hidden {
  display: block;
  color:white;
}

/* The Overlay (background) */

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  bottom: 0;
  background-color:#DDDEFC;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: -80px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.closebtn {
  background-image: url("image/cross.png");
  background-size: 35px 35px;
  border: none;
  width: 35px;
  height: 35px;
  background-color: transparent;
  cursor: pointer;
}

/*----------------------style the overlay title section------------------------------*/

/* style the sushi title name */

.sushiname {
  color: #5D5FEF;
  font-family: Rajdhani;
  font-size: 40px;
  font-weight: 700;
  margin-left: 4px;
  white-space: nowrap;
}

/* style the sound button */

.sound {
  background-image: url("image/sound.png");
  background-size: 18px 18px;
  border: none;
  width: 18px;
  height: 18px;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 20px;
}

/* style the japanese title */

.japanesetitle {
  display: flex;
  padding-left: 12px;
  margin-right: -4px;
}

#japanese {
  color: #5D5FEF;
  font-family: Rajdhani;
  font-size: 33px;
  font-weight: 700;
  white-space: nowrap;
}

.wordstitle {
  display: flex;
}

/* style the title image */

.overlaytitle img {
  width: 88px;
  height: 47px;
}

/* style the title layout */

.overlaytitle {
  display: flex;
  justify-content: center;
}
/*----------------------style the overlay recipe section------------------------------*/

ul.ingredients,
.recipecontent {
  list-style-type: none;
  text-align: left;
  color: #5D5FEF;
  font-family: Rajdhani;
  font-size: 16px;
  padding: 4px 0 0 32px;
  margin: 0;
  width: 430px;
}

.recipetitle {
  color: #5D5FEF;
  font-family: Rajdhani;
  font-size: 18px;
  font-weight: 500;
  padding: 0 32px 0 60px;
  width: 100px;
  text-align: right;
}

.ingredientsection,
.recipesection {
  display: flex;
}

.vl1 {
  border-left: 1px solid #7879F1;
  height: 120px;
  margin-top: 6px;
}

.vl2 {
  border-left: 1px solid #7879F1;
  height: 330px;
}

.bodycontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 20px;
}

.recipecontent li {
  padding-bottom: 12px;
}
